<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-8 offset-3">

    <h3><%= listing.title %></h3>
</div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
          <p class="card-text">
           <%= listing.description %><br>
           &#x20b9;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night<br>
           <%= listing.location %><br>
           <%= listing.country %>
          </p>
        </div>
    </div>

    <br>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
   
    <div class="col-8 offset-3">
        <hr>
        <h4>Leave a Review</h4>        
        <form action="/listings/<%= listing._id %>/reviews" method="POST"  class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" >
            </div>
            <label for="comment">Comment</label>
            <textarea id="comment" cols="30" rows="4" class="form-control" name="review[comment]" ></textarea>
            <div class="invalid-feedback">
                Please Submit some Comments for review 
            </div>
            <br>
            <button class="btn btn-outline-dark">Submit</button>
          </form>
          <hr>

          <h4>All Reviews</h4>
          <p><%=listing.reviews%></p>
    </div>
</div>

